# ==========================================================
# Machine Learning
# ==========================================================
scikit-learn==1.7.0
joblib==1.5.1

# ==========================================================
# Data Processing
# ==========================================================
pandas==2.3.0
numpy==2.3.1

# ==========================================================
# Visualization
# ==========================================================
matplotlib==3.10.3

# ==========================================================
# MLflow
# ==========================================================
mlflow==3.1.1

# ==========================================================
# Serialization
# ==========================================================
cloudpickle==3.1.1

# ==========================================================
# Optional (recommended by MLflow)
# ==========================================================
pyyaml==6.0.2